*{
    font-family: 'Rubik', sans-serif;
  }
  
@font-face {
  font-family: 'name';
  src: url('../src/public/font/5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf');
}
html {
    --cursor-color: #333
    
}


.fonty{
  font-family: 'name';
}

#img{
  background-image: url('./img-noise-1920x1080.png');
  object-fit: cover;
  object-position: center;
  width: 100%;
 
}
::selection{
    background-color: black;
    color: white;
}
.custom-cursor {
  
  mix-blend-mode:exclusion
}

#h2:hover{
  -webkit-box-shadow: 0px 17px 19px 7px rgba(191,48,48,1);
-moz-box-shadow: 0px 17px 19px 7px rgba(191,48,48,1);
box-shadow: 0px 17px 19px 7px rgba(191,48,48,1);
}

.navbar:hover{
    /* color: rgb(255, 255, 255); */
    background-color: #F2E9E9;
    box-shadow: -1px 14px 22px 7px rgba(0,0,0,0.81);
    -webkit-box-shadow: -1px 14px 22px 7px rgba(0,0,0,0.81);
    -moz-box-shadow: -1px 14px 22px 7px rgba(0,0,0,0.81);
    transition: all ease 0.5s;
}


.navbar{
  transition: all ease 0.5s; 
}

@media (max-width: 768px) {
  .visible{
    display: none;
  }
    
    .nav {
      display: none; 
    }
    .webName {
      display: none; 
    }
    .login {
      height: calc(100vh - 4rem);
    }
    .show{
      display: none;
    }
  }
@media (min-width: 768px) {
    
  
    .login {
      min-height: calc(100vh - 8rem);
    }
    .vido {
      max-height: calc(100vh - 8rem);
    }

    .shop{
      max-height: calc(100vh - 7rem);
    }
   
    
  }




  .font{
    font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
  }



.mobile_nav{
    min-height: calc(100vh - 3.5rem);
}



.h-divider {
  margin: auto;
 
  width: 80%;
  position: relative;
}

.h-divider .shadow {
  overflow: hidden;
  height: 3px;
}

.h-divider .shadow:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}


.h-divider .text2 {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -35px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999;
  background: white;
}

.h-divider img {
  position: absolute;
  margin: 4px;
  max-width: 60px;
  border-radius: 100%;
  border: 1px dashed #914042;
}

  .styfont{
    font-family: 'Grape Nuts', cursive;
  }
  

  .line::after{
    content: "";
    position: absolute;

    bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* You can adjust the thickness of the underline */
  background-color: #050505; /* You can set the color of the underline */
  transition: width 0.3s ease;
  }
  .line:hover:after{
   width: 100%;
  }


  .linee::after{
    content: "";
    position: absolute;

    bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* You can adjust the thickness of the underline */
  background-color: #ffffff; /* You can set the color of the underline */
  transition: width 0.3s ease;
  }
  .linee:hover:after{
   width: 100%;
  }

  .style{
    font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
font-family: 'Stylish', serif;
  }

